## **Problem Statement :** [link](https://docs.google.com/document/d/1SYlU0Wq4Ay-z_CTU3qviTwZd_eDp0vIB/edit?usp=sharing&ouid=117648558434810261022&rtpof=true&sd=true)

# **LinkedIn :**  [link](https://www.linkedin.com/in/praveen-n-2b4004223/)

# **Required Library**

In [ ]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (671 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 671.3/671.3 kB 10.3 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 16.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.5.0

In [ ]:
import pymongo as pm
import pandas as pd

# **Mongo Db Connectivity**

In [ ]:
Mongo = pm.MongoClient('mongodb+srv://praveen:praveenroot@praveen21.lsdge0t.mongodb.net/?retryWrites=true&w=majority')

# **Database & Collection Created**

In [ ]:
db = Mongo['sample_airbnb']

collection = db['listingsAndReviews']

# **Total Documents**

In [ ]:
Documents = [i for i in collection.find()]
len(Documents)

5555

# **Feature Understanding**



```
# Id: Unique identifier for each listing.

# Name: The title or name of the listing.

# Host Id: Unique identifier for the host of the listing.

# Host Name: The name of the host.

# Neighbourhood: The specific neighborhood where the listing is located.

# Latitude: The latitude coordinate of the listing's location.

# Longitude: The longitude coordinate of the listing's location.

# Room Type: The type of room being listed (e.g., "Entire home/apartment", "Private room", "Shared room").

# Price: The price to rent the listing.

# Minimum Nights: The minimum number of nights a guest must book for the listing.

# Maximum Nights: The Maximun number of nights a guest must book for the listing.

# Number Of Reviews: The total number of reviews the listing has received.

# Availability 30: The number of days the listing is available for booking within the next 30 days

# Availability 60: The number of days the listing is available for booking within the next 60 days

# Availability 90: The number of days the listing is available for booking within the next 90 days

# Availability 365: The number of days the listing is available for booking within the next 365 days

# Rating : ratings given by guests to the listings.
```

# **Collecting Relevant Data**

In [ ]:
res = [i for i in collection.find({},{'_id':1,'name':1,'description':1,'host.host_id':1,'host.host_name':1,'host.host_neighbourhood':1,'address.location.coordinates':1,'price':1, 'availability.availability_30':1 , 'availability.availability_60':1 ,'availability.availability_90':1 ,'availability.availability_365':1,'room_type':1,'minimum_nights':1,'maximum_nights':1 ,'number_of_reviews':1,'host.host_total_listings_count':1,'review_scores.review_scores_rating':1,'review':1,'amenities':1,'property_type':1})]

In [ ]:
data = {'Id':[],'Name':[],'Description':[],'Property Type':[],'Room Type':[],'Minimum Nights':[],'Maximum Nights':[],'Number Of Reviews':[],'Amenities':[],'Price':[],'Host ID':[],'Host Name':[],'Host Neighbourhood':[],'Host Total Listings Count':[],'Longitide':[],'Latitude':[],'Availability 30':[],'Availability 60':[],'Availability 90':[],'Availability 365':[],'Rating':[]}

In [ ]:
data

{'Id': [],
 'Name': [],
 'Description': [],
 'Property Type': [],
 'Room Type': [],
 'Minimum Nights': [],
 'Maximum Nights': [],
 'Number Of Reviews': [],
 'Amenities': [],
 'Price': [],
 'Host ID': [],
 'Host Name': [],
 'Host Neighbourhood': [],
 'Host Total Listings Count': [],
 'Longitide': [],
 'Latitude': [],
 'Availability 30': [],
 'Availability 60': [],
 'Availability 90': [],
 'Availability 365': [],
 'Rating': []}

In [ ]:
res[0]

{'_id': '10021707',
 'name': 'Private Room in Bushwick',
 'description': 'Here exists a very cozy room for rent in a shared 4-bedroom apartment. It is located one block off of the JMZ at Myrtle Broadway.  The neighborhood is diverse and appeals to a variety of people.',
 'property_type': 'Apartment',
 'room_type': 'Private room',
 'minimum_nights': '14',
 'maximum_nights': '1125',
 'number_of_reviews': 1,
 'amenities': ['Internet',
  'Wifi',
  'Air conditioning',
  'Kitchen',
  'Buzzer/wireless intercom',
  'Heating',
  'Smoke detector',
  'Carbon monoxide detector',
  'Essentials',
  'Lock on bedroom door'],
 'price': Decimal128('40.00'),
 'host': {'host_id': '11275734',
  'host_name': 'Josh',
  'host_neighbourhood': 'Bushwick',
  'host_total_listings_count': 1},
 'address': {'location': {'coordinates': [-73.93615, 40.69791]}},
 'availability': {'availability_30': 0,
  'availability_60': 0,
  'availability_90': 0,
  'availability_365': 0},
 'review_scores': {'review_scores_rating': 100}}

# **Preprocessing**

In [ ]:
for i in res:

  # Id
  data['Id'].append(i['_id'])

  # Name
  data['Name'].append(i['name'])

  # Description
  data['Description'].append(i['description'])

  # Property Type
  data['Property Type'].append(i['property_type'])

  # Room Type
  data['Room Type'].append(i['room_type'])

  # Minimun Nights
  data['Minimum Nights'].append(i['minimum_nights'])

  # Maximun Nights
  data['Maximum Nights'].append(i['maximum_nights'])

  # Number Reviews
  data['Number Of Reviews'].append(i['number_of_reviews'])

  # Amenities
  data['Amenities'].append(i['amenities'])

  # Price
  data['Price'].append(i['price'])

  # Host details
  data['Host ID'].append(i['host']['host_id'])
  data['Host Name'].append(i['host']['host_name'])
  data['Host Neighbourhood'].append(i['host']['host_neighbourhood'])
  data['Host Total Listings Count'].append(i['host']['host_total_listings_count'])

  # Longitude and Latitude
  data['Longitide'].append(i['address']['location']['coordinates'][0])
  data['Latitude'].append(i['address']['location']['coordinates'][1])

  # Availability
  data['Availability 30'].append(i['availability']['availability_30'])
  data['Availability 60'].append(i['availability']['availability_60'])
  data['Availability 90'].append(i['availability']['availability_90'])
  data['Availability 365'].append(i['availability']['availability_365'])

  # Rating  'review_scores': {'review_scores_rating': 100}}
  data['Rating'].append(i['review_scores']['review_scores_rating'] if 'review_scores_rating' in i['review_scores'] else 0 )

# **Converting Data Into Sturctured Format**

In [ ]:
pd.set_option('display.max_columns',None)

df = pd.DataFrame(data)

# **Empty String Value Replace**

In [ ]:
df.columns

Index(['Id', 'Name', 'Description', 'Property Type', 'Room Type',
       'Minimum Nights', 'Maximum Nights', 'Number Of Reviews', 'Amenities',
       'Price', 'Host ID', 'Host Name', 'Host Neighbourhood',
       'Host Total Listings Count', 'Longitide', 'Latitude', 'Availability 30',
       'Availability 60', 'Availability 90', 'Availability 365', 'Rating'],
      dtype='object')

In [ ]:
df['Description'] = df.Description.apply(lambda x : 'not mentioned' if x =='' else x )

In [ ]:
df['Name'] = df.Name.apply(lambda x : 'not mentioned' if x =='' else x )

In [ ]:
df['Host Neighbourhood'] = df['Host Neighbourhood'].replace("",method='ffill')

In [ ]:
df.isnull().sum()

Id                           0
Name                         0
Description                  0
Property Type                0
Room Type                    0
Minimum Nights               0
Maximum Nights               0
Number Of Reviews            0
Amenities                    0
Price                        0
Host ID                      0
Host Name                    0
Host Neighbourhood           0
Host Total Listings Count    0
Longitide                    0
Latitude                     0
Availability 30              0
Availability 60              0
Availability 90              0
Availability 365             0
Rating                       0
dtype: int64

In [ ]:
df.columns = ['id', 'name', 'description', 'property_type', 'room_type',
       'minimum_nights', 'maximum_nights', 'number_of_Reviews', 'amenities',
       'price', 'host_iD', 'host_name', 'host_neighbourhood',
       'host_total_listings_count', 'longitide', 'latitude', 'availability_30',
       'availability_60', 'availability_90', 'availability_365', 'rating']

In [ ]:
df['minimum_nights'] = df.minimum_nights.apply(lambda x : int(x))

df['maximum_nights'] = df.maximum_nights.apply(lambda x : int(x))

df['number_of_Reviews'] = df.number_of_Reviews.apply(lambda x : int(x))

df['price'] = df.price.astype(str).astype(float)

df.host_total_listings_count = df.host_total_listings_count.apply(lambda x : int(x))

df.longitide	 = df.longitide.apply(lambda x : float(x))

df.latitude = df.latitude.apply(lambda x : float(x))

df.availability_30 = df.availability_30.apply(lambda x : int(x))

df.availability_60 = df.availability_60.apply(lambda x : int(x))

df.availability_90 =  df.availability_90.apply(lambda x : int(x))

df.availability_365 = df.availability_365.apply(lambda x : int(x))

df.rating = df.rating.apply(lambda x : int(x))

df.loc[df.query('host_neighbourhood == "" ').index,'host_neighbourhood']  = 'Copacabana'

In [ ]:
df.dtypes

id                            object
name                          object
description                   object
property_type                 object
room_type                     object
minimum_nights                 int64
maximum_nights                 int64
number_of_Reviews              int64
amenities                     object
price                        float64
host_iD                       object
host_name                     object
host_neighbourhood            object
host_total_listings_count      int64
longitide                    float64
latitude                     float64
availability_30                int64
availability_60                int64
availability_90                int64
availability_365               int64
rating                         int64
dtype: object

In [ ]:
df

,id,name,description,property_type,room_type,minimum_nights,maximum_nights,number_of_Reviews,amenities,price,host_iD,host_name,host_neighbourhood,host_total_listings_count,longitide,latitude,availability_30,availability_60,availability_90,availability_365,rating
0,10021707,Private Room in Bushwick,Here exists a very cozy room for rent in a sha...,Apartment,Private room,14,1125,1,"[Internet, Wifi, Air conditioning, Kitchen, Bu...",40.0,11275734,Josh,Bushwick,1,-73.936150,40.697910,0,0,0,0,100
1,10047964,Charming Flat in Downtown Moda,Fully furnished 3+1 flat decorated with vintag...,House,Entire home/apt,2,1125,1,"[TV, Cable TV, Internet, Wifi, Kitchen, Free p...",527.0,1241644,Zeynep,Moda,2,29.031330,40.985850,27,57,87,362,100
2,10066928,3 chambres au coeur du Plateau,Notre appartement comporte 3 chambres avec cha...,Apartment,Entire home/apt,1,1125,0,"[Internet, Wifi, Kitchen, Heating, Family/kid ...",140.0,9036477,Margaux,Le Plateau,2,-73.573830,45.522330,0,0,0,0,0
3,10069642,Ótimo Apto proximo Parque Olimpico,Apartamento próximo ao centro dos Jogos Olímpi...,Apartment,Entire home/apt,15,20,0,"[TV, Cable TV, Internet, Wifi, Air conditionin...",858.0,51670240,Jonathan,Le Plateau,1,-43.431112,-23.000358,0,0,0,0,0
4,10083468,Be Happy in Porto,Be Happy Apartment is an amazing space. Renova...,Loft,Entire home/apt,2,1125,178,"[TV, Cable TV, Wifi, Kitchen, Smoking allowed,...",30.0,27518920,Fábio,Le Plateau,3,-8.611230,41.152250,16,40,67,335,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9846545,Cozy Private Room near Olympic MTR (A),We now have this decent room with a double bed...,Apartment,Private room,28,1125,0,"[Internet, Wifi, Air conditioning, Kitchen, Es...",259.0,23134064,Dustin,Tai Kok Sui,14,114.161790,22.319360,6,36,66,341,0
5551,9848837,Manly Beach House,Metres from the golden sands of Manly's iconic...,House,Entire home/apt,3,1125,1,"[TV, Cable TV, Internet, Air conditioning, Whe...",425.0,24563792,Brigitte,Manly,1,151.285000,-33.792260,0,0,0,0,80
5552,9908871,Family friendly beach house,"Only 400 metres to the beach,2 x carparks,clos...",House,Entire home/apt,1,1125,0,"[TV, Cable TV, Kitchen, Free parking on premis...",751.0,20914019,Craig,North Bondi,1,151.282410,-33.888180,0,0,0,0,0
5553,9936016,Alugo Apartamento na Tijuca,Apartamento amplo que acomoda 6 pessoas. Um qu...,Apartment,Entire home/apt,1,1125,0,"[TV, Cable TV, Internet, Wifi, Air conditionin...",750.0,47092481,Aliane,North Bondi,1,-43.173761,-22.908336,0,0,0,0,0
5554,9979991,not mentioned,"Located at the heart of Kowloon, our unit is s...",Apartment,Entire home/apt,1,1125,0,"[TV, Internet, Air conditioning, Kitchen, Elev...",1052.0,51283546,Alexis,North Bondi,1,114.169630,22.315690,0,0,0,0,0

In [ ]:
df.isnull().sum()

id                           0
name                         0
description                  0
property_type                0
room_type                    0
minimum_nights               0
maximum_nights               0
number_of_Reviews            0
amenities                    0
price                        0
host_iD                      0
host_name                    0
host_neighbourhood           0
host_total_listings_count    0
longitide                    0
latitude                     0
availability_30              0
availability_60              0
availability_90              0
availability_365             0
rating                       0
dtype: int64

# **Save "Airbnb" Data Csv File**

In [ ]:
df.to_csv('Airbnb.csv',index=False)