## **Problem Statement :** [link](https://docs.google.com/document/d/1SYlU0Wq4Ay-z_CTU3qviTwZd_eDp0vIB/edit?usp=sharing&ouid=117648558434810261022&rtpof=true&sd=true)

# **Required Library**

In [102]:
pip install pymongo

In [ ]:
import pymongo as pm

# **Mongo Db Connectivity**

In [ ]:
Mongo = pm.MongoClient('mongodb+srv://praveen:praveenroot@praveen21.lsdge0t.mongodb.net/?retryWrites=true&w=majority')

Mongo

# **Database & Collection Created**

In [ ]:
db = Mongo['sample_airbnb']

collection = db['listingsAndReviews']

# **Total Documents**

In [103]:
Documents = [i for i in collection.find()]
len(Documents)

5555

# **Features Understanding**



```
# Id: Unique identifier for each listing.

# Name: The title or name of the listing.

# Host Id: Unique identifier for the host of the listing.

# Host Name: The name of the host.

# Neighbourhood: The specific neighborhood where the listing is located.

# Latitude: The latitude coordinate of the listing's location.

# Longitude: The longitude coordinate of the listing's location.

# Room Type: The type of room being listed (e.g., "Entire home/apartment", "Private room", "Shared room").

# Price: The price to rent the listing.

# Minimum Nights: The minimum number of nights a guest must book for the listing.

# Maximum Nights: The Maximun number of nights a guest must book for the listing.

# Number Of Reviews: The total number of reviews the listing has received.

# Availability 30: The number of days the listing is available for booking within the next 30 days

# Availability 60: The number of days the listing is available for booking within the next 60 days

# Availability 90: The number of days the listing is available for booking within the next 90 days

# Availability 365: The number of days the listing is available for booking within the next 365 days

# Rating : ratings given by guests to the listings.
```

# **Collecting Relevant Data**

In [110]:
res = [i for i in collection.find({},{'_id':1,'name':1,'description':1,'host.host_id':1,'host.host_name':1,'host.host_neighbourhood':1,'address.location.coordinates':1,'price':1, 'availability.availability_30':1 , 'availability.availability_60':1 ,'availability.availability_90':1 ,'availability.availability_365':1,'room_type':1,'minimum_nights':1,'maximum_nights':1 ,'number_of_reviews':1,'host.host_total_listings_count':1,'review_scores.review_scores_rating':1,'review':1,'amenities':1,'property_type':1})]

In [111]:
data = {'Id':[],'Name':[],'Description':[],'Property Type':[],'Room Type':[],'Minimum Nights':[],'Maximum Nights':[],'Number Of Reviews':[],'Amenities':[],'Price':[],'Host ID':[],'Host Name':[],'Host Neighbourhood':[],'Host Total Listings Count':[],'Longitide':[],'Latitude':[],'Availability 30':[],'Availability 60':[],'Availability 90':[],'Availability 365':[],'Rating':[]}

In [108]:
data

{'Id': [],
 'Name': [],
 'Description': [],
 'Property Type': [],
 'Room Type': [],
 'Minimum Nights': [],
 'Maximum Nights': [],
 'Number Of Reviews': [],
 'Amenities': [],
 'Price': [],
 'Host ID': [],
 'Host Name': [],
 'Host Neighbourhood': [],
 'Host Total Listings Count': [],
 'Longitide': [],
 'Latitude': [],
 'Availability 30': [],
 'Availability 60': [],
 'Availability 90': [],
 'Availability 365': [],
 'Rating': []}

# **Preprocessing**

In [112]:
for i in res:
  # Id
  data['Id'].append(i['_id'])

  # Name
  data['Name'].append(i['name'])

  # Description
  data['Description'].append(i['description'])

  # Property Type
  data['Property Type'].append(i['property_type'])

  # Room Type
  data['Room Type'].append(i['room_type'])

  # Minimun Nights
  data['Minimum Nights'].append(i['minimum_nights'])

  # Maximun Nights
  data['Maximum Nights'].append(i['maximum_nights'])

  # Number Reviews
  data['Number Of Reviews'].append(i['number_of_reviews'])

  # Amenities
  data['Amenities'].append(i['amenities'])

  # Price
  data['Price'].append(i['price'])

  # Host details
  data['Host ID'].append(i['host']['host_id'])
  data['Host Name'].append(i['host']['host_name'])
  data['Host Neighbourhood'].append(i['host']['host_neighbourhood'])
  data['Host Total Listings Count'].append(i['host']['host_total_listings_count'])

  # Longitude and Latitude
  data['Longitide'].append(i['address']['location']['coordinates'][0])
  data['Latitude'].append(i['address']['location']['coordinates'][1])

  # Availability
  data['Availability 30'].append(i['availability']['availability_30'])
  data['Availability 60'].append(i['availability']['availability_60'])
  data['Availability 90'].append(i['availability']['availability_90'])
  data['Availability 365'].append(i['availability']['availability_365'])

  # Rating  'review_scores': {'review_scores_rating': 100}}
  data['Rating'].append(i['review_scores']['review_scores_rating'] if 'review_scores_rating' in i['review_scores'] else 0 )

# **Converting Data Into Sturctured Format**

In [113]:
import pandas as pd

df = pd.DataFrame(data)
df

,Id,Name,Description,Property Type,Room Type,Minimum Nights,Maximum Nights,Number Of Reviews,Amenities,Price,...,Host Name,Host Neighbourhood,Host Total Listings Count,Longitide,Latitude,Availability 30,Availability 60,Availability 90,Availability 365,Rating
0,10021707,Private Room in Bushwick,Here exists a very cozy room for rent in a sha...,Apartment,Private room,14,1125,1,"[Internet, Wifi, Air conditioning, Kitchen, Bu...",40.00,...,Josh,Bushwick,1,-73.936150,40.697910,0,0,0,0,100
1,10047964,Charming Flat in Downtown Moda,Fully furnished 3+1 flat decorated with vintag...,House,Entire home/apt,2,1125,1,"[TV, Cable TV, Internet, Wifi, Kitchen, Free p...",527.00,...,Zeynep,Moda,2,29.031330,40.985850,27,57,87,362,100
2,10066928,3 chambres au coeur du Plateau,Notre appartement comporte 3 chambres avec cha...,Apartment,Entire home/apt,1,1125,0,"[Internet, Wifi, Kitchen, Heating, Family/kid ...",140.00,...,Margaux,Le Plateau,2,-73.573830,45.522330,0,0,0,0,0
3,10069642,Ótimo Apto proximo Parque Olimpico,Apartamento próximo ao centro dos Jogos Olímpi...,Apartment,Entire home/apt,15,20,0,"[TV, Cable TV, Internet, Wifi, Air conditionin...",858.00,...,Jonathan,,1,-43.431112,-23.000358,0,0,0,0,0
4,10083468,Be Happy in Porto,Be Happy Apartment is an amazing space. Renova...,Loft,Entire home/apt,2,1125,178,"[TV, Cable TV, Wifi, Kitchen, Smoking allowed,...",30.00,...,Fábio,,3,-8.611230,41.152250,16,40,67,335,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9846545,Cozy Private Room near Olympic MTR (A),We now have this decent room with a double bed...,Apartment,Private room,28,1125,0,"[Internet, Wifi, Air conditioning, Kitchen, Es...",259.00,...,Dustin,Tai Kok Sui,14,114.161790,22.319360,6,36,66,341,0
5551,9848837,Manly Beach House,Metres from the golden sands of Manly's iconic...,House,Entire home/apt,3,1125,1,"[TV, Cable TV, Internet, Air conditioning, Whe...",425.00,...,Brigitte,Manly,1,151.285000,-33.792260,0,0,0,0,80
5552,9908871,Family friendly beach house,"Only 400 metres to the beach,2 x carparks,clos...",House,Entire home/apt,1,1125,0,"[TV, Cable TV, Kitchen, Free parking on premis...",751.00,...,Craig,North Bondi,1,151.282410,-33.888180,0,0,0,0,0
5553,9936016,Alugo Apartamento na Tijuca,Apartamento amplo que acomoda 6 pessoas. Um qu...,Apartment,Entire home/apt,1,1125,0,"[TV, Cable TV, Internet, Wifi, Air conditionin...",750.00,...,Aliane,,1,-43.173761,-22.908336,0,0,0,0,0
5554,9979991,,"Located at the heart of Kowloon, our unit is s...",Apartment,Entire home/apt,1,1125,0,"[TV, Internet, Air conditioning, Kitchen, Elev...",1052.00,...,Alexis,,1,114.169630,22.315690,0,0,0,0,0

# **Save "Airbnb" Data Csv File**

In [101]:
df.to_csv('Airbnb.csv',index=False)



```
                                                       Completed
```